.container-btn {
    margin: 20px 0;
}

.btn {
    padding: 8px 33px;
    font-size: pxtorem(14);
    font-family: "HDI Pro Bold";
    border: 1px solid transparent;
    color: $white;
    transition: all 0.2s;
    text-transform: capitalize;
    cursor: pointer;

    &.green-primary {
        background-color: $green-800;
        &:hover {
            background-color: $green-900;
        }
    }

    &.green-secondary {
        background-color: $green-900;
    }

    &.red {
        background-color: $red;
    }

    &.white {
        background-color: $white;
        border: 1px solid $black;
        color: $black;
    }

    &:disabled {
        background-color: $gray-600;
        cursor: default;
        &:hover {
            background-color: $gray-600;
        }
    }
}
