.input__field,
.textarea__field,
.select__field {
  display: flex;
  flex-direction: column;
  gap: pxtorem(7);
  cursor: pointer;

  .select__field-item {
    width: 100%;
    padding: pxtorem(10) pxtorem(22);
    font-family: "HDI Pro Book";
    font-size: pxtorem(14);
    color: #9d9d9c;
    border: 1px solid #000000;
  }

  &.icon {
    position: relative;

    & > input {
      padding-right: 40px;
    }

    & > input:disabled {
      background: white;
    }

    figure {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      height: 40px;
      width: 30px;
      top: 23px;
      left: calc(100% - 30px);
    }
    img {
      width: 11px;
      height: auto;
    }
  }

  &.error {
    .error__mensage {
      visibility: visible;
    }
  }

  .select__field-list {
    visibility: hidden;
    position: absolute;
    width: 100%;
    padding: 0;
    top: 62px;
    border: 1px solid #000000;
    border-top: 1px solid white;
    background: white;
    z-index: 10;

    li {
      padding: 7px 0px 7px 22px;
      list-style: none;
      font-family: "HDI Pro Book";
      font-size: pxtorem(14);
      color: black;
      border-bottom: 1px solid rgb(248, 248, 248);
    }
  }

  & > input,
  textarea {
    padding: pxtorem(10) pxtorem(22);
    font-family: "HDI Pro Book";
    font-size: pxtorem(14);
    color: black;
    border: 1px solid #000000;

    &::placeholder {
      font-family: "HDI Pro Book";
      font-size: pxtorem(14);
      color: #9d9d9c;
    }
  }

  & > label {
    margin-left: pxtorem(22);
    font-family: "HDI Pro Book";
    font-size: pxtorem(12);
    color: black;
  }

  .error__mensage,
  small {
    margin-left: pxtorem(22);
    font-family: "HDI Pro Book";
    font-size: pxtorem(10);
    color: #e30613;
    visibility: hidden;
  }

  small {
    visibility: visible;
    color: #9d9d9c;
  }
}

.select__field {
  &.isActive {
    .select__field-list {
      visibility: visible;
    }
  }

  &.isSelected {
    .select__field-item {
      font-family: "HDI Pro Book";
      font-size: pxtorem(14);
      color: #000000;
    }
  }
}
