.table__list {
  width: 100%;
  border-collapse: collapse;

  thead {
    border-bottom: 1px solid #000000;

    tr {
      text-align: left;

      th {
        display: inline-block;
        padding-bottom: 6px;
        font-family: "HDI Pro Book";
        font-size: pxtorem(12);
        color: #000000;
        text-transform: uppercase;

        &.text__end {
          text-align: right;
        }

        &.w15 {
          width: 15%;
        }
        &.w25 {
          width: 25%;
        }
        &.w50 {
          width: 50%;
        }
        &.w100 {
          width: 100%;
        }
      }
    }
  }

  tbody {
    tr {
      td {
        display: inline-block;
        padding-top: pxtorem(30);
        font-family: "HDI Pro Book";
        font-size: pxtorem(14);
        color: #000000;

        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        &.w15 {
          max-width: 15%;
        }
        &.w25 {
          width: 25%;
        }
        &.w50 {
          max-width: 50%;
        }
        &.w100 {
          width: 100%;
        }

        &.text__end {
          display: inline-flex;
          justify-content: flex-end;
          gap: pxtorem(18);
        }
      }
    }
  }
}
