.table__list {
  width: 100%;
  border-collapse: collapse;

  thead {
    border-bottom: 1px solid #000000;

    tr {
      text-align: left;

      th {
        // display: flex;
        display: inline-block;
        padding-bottom: 6px;
        margin-left: 10px;
        font-family: "HDI Pro Book";
        font-size: pxtorem(12);
        color: #000000;
        text-transform: uppercase;

        &.text__end {
          text-align: right;
        }

        &.w15 {
          width: calc(15% - 10px);
        }

        &.w20 {
          width: calc(20% - 10px);
        }

        &.w25 {
          width: calc(25% - 10px);
        }

        &.w50 {
          width: calc(50% - 10px);
        }

        &.w100 {
          width: calc(100% - 10px);
        }

        &.flex1 {
          flex: 1;
        }
      }
    }
  }

  tbody {
    tr {
      td {
        display: inline-block;
        margin-left: 10px;
        padding-top: pxtorem(30);
        font-family: "HDI Pro Book";
        font-size: pxtorem(14);
        color: #000000;

        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        &.w15 {
          width: calc(15% - 10px);
        }
        &.w20 {
          width: calc(20% - 10px);
        }
        &.w25 {
          width: calc(25% - 10px);
        }
        &.w50 {
          width: calc(50% - 10px);
        }
        &.w100 {
          width: 100%;
        }

        &.text__end {
          display: inline-flex;
          justify-content: flex-end;
          gap: pxtorem(18);
        }

        & > figure {
          width: 114px;
          height: auto;
          img {
            width: 100%;
            height: auto;
          }
        }

        & > button {
          background: none;
          border: none;
          img {
            width: 100%;
            height: auto;
          }
        }
      }
    }
  }
}
