* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background: #ffffff;
  -webkit-font-smooth: antialiased;
}

body,
input,
text-area,
button {
  font-family: "HDI Pro Book";
}

input,
button,
textarea {
  outline: none;
}

button {
  cursor: pointer;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1750px;
  padding: 0px 20px;
  margin: 0 auto;
}

.col.w25 {
  width: 25%;
}
.col.w50 {
  width: 50%;
}
.col.w75 {
  width: 75%;
}
.col.w100 {
  width: 100%;
}

.pd-20 {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

@font-face {
  font-family: "HDI Pro Bold";
  src: url("../assets/fonts/HDIPro-Bold.ttf");
}
@font-face {
  font-family: "HDI Pro Book";
  src: url("../assets/fonts/HDIPro-Book.ttf");
}
@font-face {
  font-family: "HDI Pro BookIt";
  src: url("../assets/fonts/HDIPro-BookIt.ttf");
}
@font-face {
  font-family: "HDI Pro MdIt";
  src: url("../assets/fonts/HDIPro-MdIt.ttf");
}
@font-face {
  font-family: "HDI Pro Medium";
  src: url("../assets/fonts/HDIPro-Medium.ttf");
}
@font-face {
  font-family: "HDI ProCND Black";
  src: url("../assets/fonts/HDIProCnd-Black.ttf");
}
@font-face {
  font-family: "HDI ProCND Bold";
  src: url("../assets/fonts/HDIProCnd-Bold.ttf");
}
@font-face {
  font-family: "HDI ProCND Book";
  src: url("../assets/fonts/HDIProCnd-Book.ttf");
}
@font-face {
  font-family: "HDI ProCND Medium";
  src: url("../assets/fonts/HDIProCnd-Medium.ttf");
}
.menu {
  min-width: 100%;
  min-height: 100vh;
  background: #fafafa;
}
.menu > header {
  position: relative;
  padding: 1.3125rem 0px;
  background: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.0784313725);
  z-index: 10;
}
.menu > header .header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu > header .header__content button {
  background: none;
  border: none;
  color: #6eab28;
  font-size: 14px;
  font-family: "HDI Pro Bold";
  font-weight: 700;
}
.menu .menu__wrapper {
  display: flex;
}
.menu .menu__wrapper .menu__itens {
  display: flex;
  justify-content: center;
  min-width: 22.125rem;
  min-height: calc(100vh - 84px);
  padding-top: 3.75rem;
  background: white;
}
.menu .menu__wrapper .menu__itens .menu__list {
  padding: 0;
  margin: 0;
}
.menu .menu__wrapper .menu__itens .menu__list > .menu__item span {
  position: relative;
}
.menu .menu__wrapper .menu__itens .menu__list > .menu__item span::after {
  content: "";
  position: absolute;
  top: calc(50% + 2px);
  left: 0;
  border-top: 4px solid #000000;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  transform: translate(5px, -50%);
  transition: all 0.3s linear;
}
.menu .menu__wrapper .menu__itens .menu__list > .menu__item,
.menu .menu__wrapper .menu__itens .menu__list a {
  margin-bottom: 1.875rem;
  text-decoration: none;
  list-style: none;
  font-family: "HDI Pro Book";
  font-size: 0.875rem;
  color: #000000;
  cursor: pointer;
  transition: all 0.3s linear;
}
.menu .menu__wrapper .menu__itens .menu__list > .menu__item:last-child,
.menu .menu__wrapper .menu__itens .menu__list a:last-child {
  margin-bottom: 0rem;
}
.menu .menu__wrapper .menu__itens .menu__list > .menu__item.isActive,
.menu .menu__wrapper .menu__itens .menu__list a.isActive {
  font-family: "HDI Pro Bold";
}
.menu .menu__wrapper .menu__itens .menu__list > .menu__item.isActive span::after,
.menu .menu__wrapper .menu__itens .menu__list a.isActive span::after {
  top: calc(50% + 2px);
  transform: translate(5px, -50%) rotate(180deg);
}
.menu .menu__wrapper .menu__itens .menu__list > .menu__item.isActive .sub__menu,
.menu .menu__wrapper .menu__itens .menu__list a.isActive .sub__menu {
  animation: slideDown 2s linear forwards;
}
.menu .menu__wrapper .menu__itens .menu__list > .menu__item .sub__menu,
.menu .menu__wrapper .menu__itens .menu__list a .sub__menu {
  max-height: 0;
  margin-left: 20px;
  overflow: hidden;
}
.menu .menu__wrapper .menu__itens .menu__list > .menu__item .sub__menu .sub__link,
.menu .menu__wrapper .menu__itens .menu__list a .sub__menu .sub__link {
  list-style: none;
  margin: 0.75rem 0px;
}
.menu .menu__wrapper .menu__itens .menu__list > .menu__item .sub__menu .sub__link:last-child,
.menu .menu__wrapper .menu__itens .menu__list a .sub__menu .sub__link:last-child {
  margin: 0px;
}
.menu .menu__wrapper .menu__itens .menu__list > .menu__item .sub__menu .sub__link a,
.menu .menu__wrapper .menu__itens .menu__list a .sub__menu .sub__link a {
  font-family: "HDI Pro Book";
  font-size: 0.75rem;
  color: #000000;
}
.menu .menu__wrapper .content {
  max-height: 725px;
  width: calc(100% - 354px);
  margin: 3.75rem;
  padding: 3.125rem;
  background: white;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.0588235294);
  border-radius: 5px;
  overflow-y: auto;
  overflow-x: hidden;
}
.menu .menu__wrapper .content .content-title {
  margin-bottom: 2.5rem;
}
.menu .menu__wrapper .content .content-title > h1 {
  font-family: "HDI Pro Book";
  font-size: 2.5rem;
  color: #000000;
}
.menu .menu__wrapper .content .content-title > h1 span {
  font-family: "HDI Pro Bold";
}
.menu .menu__wrapper .content .content-title > h2 {
  font-family: "HDI Pro Bold";
  font-size: 1.5rem;
  color: #6eab28;
}

@keyframes slideDown {
  from {
    max-height: 0px;
  }
  to {
    max-height: 700px;
  }
}
.input__field,
.textarea__field,
.select__field {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.4375rem;
}
.input__field .select__field-item,
.textarea__field .select__field-item,
.select__field .select__field-item {
  width: 100%;
  padding: 0.625rem 1.375rem;
  font-family: "HDI Pro Book";
  font-size: 0.875rem;
  color: #9d9d9c;
  border: 1px solid #000000;
}
.input__field.icon,
.textarea__field.icon,
.select__field.icon {
  position: relative;
}
.input__field.icon > input,
.textarea__field.icon > input,
.select__field.icon > input {
  padding-right: 40px;
}
.input__field.icon figure,
.input__field.icon button,
.textarea__field.icon figure,
.textarea__field.icon button,
.select__field.icon figure,
.select__field.icon button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 40px;
  width: 30px;
  top: 23px;
  left: calc(100% - 30px);
  background: none;
  border: none;
}
.input__field.icon img,
.textarea__field.icon img,
.select__field.icon img {
  width: 11px;
  height: auto;
}
.input__field.error .error__mensage,
.textarea__field.error .error__mensage,
.select__field.error .error__mensage {
  visibility: visible;
}
.input__field .select__field-list,
.textarea__field .select__field-list,
.select__field .select__field-list {
  visibility: hidden;
  position: absolute;
  width: 100%;
  padding: 0;
  top: 62px;
  border: 1px solid #000000;
  border-top: 1px solid white;
  background: white;
  z-index: 10;
}
.input__field .select__field-list li,
.textarea__field .select__field-list li,
.select__field .select__field-list li {
  padding: 7px 0px 7px 22px;
  list-style: none;
  font-family: "HDI Pro Book";
  font-size: 0.875rem;
  color: black;
  border-bottom: 1px solid rgb(248, 248, 248);
}
.input__field > input,
.input__field textarea,
.textarea__field > input,
.textarea__field textarea,
.select__field > input,
.select__field textarea {
  padding: 0.625rem 1.375rem;
  font-family: "HDI Pro Book";
  font-size: 0.875rem;
  color: black;
  border: 1px solid #000000;
}
.input__field > input::-moz-placeholder, .input__field textarea::-moz-placeholder, .textarea__field > input::-moz-placeholder, .textarea__field textarea::-moz-placeholder, .select__field > input::-moz-placeholder, .select__field textarea::-moz-placeholder {
  font-family: "HDI Pro Book";
  font-size: 0.875rem;
  color: #9d9d9c;
}
.input__field > input::placeholder,
.input__field textarea::placeholder,
.textarea__field > input::placeholder,
.textarea__field textarea::placeholder,
.select__field > input::placeholder,
.select__field textarea::placeholder {
  font-family: "HDI Pro Book";
  font-size: 0.875rem;
  color: #9d9d9c;
}
.input__field > label,
.textarea__field > label,
.select__field > label {
  margin-left: 1.375rem;
  font-family: "HDI Pro Book";
  font-size: 0.75rem;
  color: black;
}
.input__field .error__mensage,
.input__field small,
.textarea__field .error__mensage,
.textarea__field small,
.select__field .error__mensage,
.select__field small {
  margin-left: 1.375rem;
  font-family: "HDI Pro Book";
  font-size: 0.625rem;
  color: #e30613;
  visibility: hidden;
}
.input__field small,
.textarea__field small,
.select__field small {
  visibility: visible;
  color: #9d9d9c;
}

.select__field {
  cursor: pointer;
}
.select__field.isActive .select__field-list {
  visibility: visible;
}
.select__field.isSelected .select__field-item {
  font-family: "HDI Pro Book";
  font-size: 0.875rem;
  color: #000000;
}

.tooltip {
  display: none;
  position: absolute;
  top: calc(-100% + 10px);
  width: 100px;
  padding: 10px;
  font-family: "HDI Pro Book";
  font-size: 0.75rem;
  color: #6eab28;
  border: 1px solid #c1dea0;
  border-radius: 15px;
  background: white;
  z-index: 50;
}
.tooltip.isActive {
  display: inline-block;
  animation: fadeIn 0.2s linear;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.file__field {
  width: 100%;
}
.file__field .label {
  font-family: "HDI Pro Book";
  margin-left: 1.375rem;
  font-size: 0.75rem;
  padding-bottom: 0.4375rem;
  display: block;
  color: #000000;
}
.file__field .container_file__field {
  position: relative;
}
.file__field .container_file__field .file {
  cursor: pointer;
  display: block;
  width: 100%;
  height: 150px;
  min-height: 9.375rem;
  border: 1px solid #000000;
  color: #9d9d9c;
  font-family: "HDI Pro Book";
  font-size: 0.875rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: 0.3s;
  margin-bottom: 8px;
}
.file__field .container_file__field .file .icon {
  display: block;
  background-image: url("/src/assets/img/fields/arrow-up-file-gray.svg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  width: 17px;
  height: 18px;
  transition: 0.3s;
}
.file__field:hover .container_file__field .file {
  border: 1px solid rgba(110, 171, 40, 0.3019607843);
  color: #006b2d;
}
.file__field:hover .container_file__field .file .icon {
  display: block;
  background-image: url("/src/assets/img/fields/arrow-up-file-green.svg");
  transform: translateY(-5px);
}
.file__field .container-input-img-selected {
  display: none;
  width: 100%;
  height: 52px;
  border: 1px solid #706f6f;
  align-items: center;
}
.file__field .container-input-img-selected figure {
  max-width: 4.375rem;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.file__field .container-input-img-selected figure img {
  width: auto;
  height: 100%;
}
.file__field .container-input-img-selected .name-img {
  margin-left: 18px;
  display: block;
  font-family: "HDI Pro Book";
  font-size: 0.875rem;
  color: #000000;
  flex: auto;
  overflow: hidden;
}
.file__field .container-input-img-selected .container-btn-cancel {
  width: 40px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.file__field .container-input-img-selected .container-btn-cancel button {
  border: none;
  background: transparent;
  cursor: pointer;
}
.file__field.img-selected .container_file__field {
  display: none;
}
.file__field.img-selected .container-input-img-selected {
  display: flex;
}

input[type=file] {
  position: absolute;
  top: 0;
  background-color: transparent;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.descrption {
  margin: 1px auto;
  display: block;
  font-family: "HDI Pro Book";
  font-size: 0.75rem;
  color: #9d9d9c;
}
.descrption.error {
  color: #e30613;
}

.container-btn {
  margin: 20px 0;
}

.btn {
  padding: 8px 33px;
  font-size: 0.875rem;
  font-family: "HDI Pro Bold";
  border: 1px solid transparent;
  color: #ffffff;
  transition: all 0.2s;
  text-transform: capitalize;
  text-decoration: none;
  cursor: pointer;
}
.btn.green-primary {
  background-color: #6eab28;
}
.btn.green-primary:hover {
  background-color: #006b2d;
}
.btn.green-secondary {
  background-color: #006b2d;
}
.btn.red {
  background-color: #e30613;
}
.btn.white {
  background-color: #ffffff;
  border: 1px solid #000000;
  color: #000000;
}
.btn.edit {
  position: relative;
  background-color: transparent;
  border: none;
  color: #006b2d;
  padding: 0;
  padding-left: 15px;
  font-family: "HDI Pro Book";
}
.btn.edit::before {
  content: "";
  width: 12px;
  height: 12px;
  position: absolute;
  left: 0;
  top: 60%;
  transform: translate(0, -50%);
  background-image: url("/src/assets/img/edit-icon.svg");
  background-position: center;
  background-size: 100%;
}
.btn.delete {
  position: relative;
  background-color: transparent;
  border: none;
  color: #000000;
  padding: 0;
  padding-left: 11px;
  font-family: "HDI Pro Book";
}
.btn.delete::before {
  content: "";
  width: 9px;
  height: 12px;
  position: absolute;
  left: 0;
  top: 60%;
  transform: translate(0, -50%);
  background-image: url("/src/assets/img/delete-icon.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}
.btn.logout {
  position: relative;
  background-color: transparent;
  border: none;
  color: #6eab28;
  padding: 0;
  padding-left: 16px;
  font-family: "HDI Pro Bold";
}
.btn.logout::before {
  content: "";
  width: 13px;
  height: 12px;
  position: absolute;
  left: 0;
  top: 60%;
  transform: translate(0, -50%);
  background-image: url("/src/assets/img/logout-icon.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}
.btn:disabled {
  background-color: #9d9d9c;
  cursor: default;
}
.btn:disabled:hover {
  background-color: #9d9d9c;
}

.table__list {
  width: 100%;
  border-collapse: collapse;
}
.table__list thead {
  border-bottom: 1px solid #000000;
}
.table__list thead tr {
  text-align: left;
}
.table__list thead tr th {
  display: inline-block;
  padding-bottom: 6px;
  font-family: "HDI Pro Book";
  font-size: 0.75rem;
  color: #000000;
  text-transform: uppercase;
}
.table__list thead tr th.text__end {
  text-align: right;
}
.table__list thead tr th.w15 {
  width: 15%;
}
.table__list thead tr th.w25 {
  width: 25%;
}
.table__list thead tr th.w50 {
  width: 50%;
}
.table__list thead tr th.w100 {
  width: 100%;
}
.table__list tbody tr td {
  display: inline-block;
  padding-top: 1.875rem;
  font-family: "HDI Pro Book";
  font-size: 0.875rem;
  color: #000000;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.table__list tbody tr td.w15 {
  max-width: 15%;
}
.table__list tbody tr td.w25 {
  width: 25%;
}
.table__list tbody tr td.w50 {
  max-width: 50%;
}
.table__list tbody tr td.w100 {
  width: 100%;
}
.table__list tbody tr td.text__end {
  display: inline-flex;
  justify-content: flex-end;
  gap: 1.125rem;
}

.switch {
  position: relative;
  display: inline-block;
  width: 32px;
  height: 15px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #c6c6c6;
  transition: 0.4s;
}
.slider::before {
  position: absolute;
  content: "";
  height: 19px;
  width: 19px;
  left: 0px;
  bottom: -2px;
  background-color: #706f6f;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #c1dea0;
}
input:checked + .slider::before {
  background-color: green;
}

input:checked + .slider:before {
  transform: translateX(13px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 100;
}
.modal-container.isActive {
  display: flex;
}
.modal-container .modal {
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
  align-items: center;
  text-align: center;
  width: 100%;
  max-width: 455px;
  height: auto;
  padding: 2.5rem 1.875rem;
  border-radius: 5px;
  background: white;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.0588235294);
}
.modal-container .modal .modal__content > h2 {
  font-family: "HDI Pro Bold";
  font-size: 1.5rem;
  color: #000000;
}
.modal-container .modal .modal__content > p {
  font-family: "HDI Pro Book";
  font-size: 0.875rem;
  color: #000000;
}

.card-home-emphasis {
  width: 100%;
  font-family: "HDI Pro Book";
  font-size: 0.75rem;
  margin-bottom: 3.875rem;
}
.card-home-emphasis .card-title {
  color: #6eab28;
}
.card-home-emphasis .card-line {
  border: none;
  background-color: #6eab28;
  width: 100%;
  height: 1px;
  margin: 6px 0 12px 0;
}
.card-home-emphasis table {
  width: 100%;
}
.card-home-emphasis table thead {
  vertical-align: top;
  height: 2.125rem;
}
.card-home-emphasis table thead tr td {
  width: 25%;
  color: #9d9d9c;
}
.card-home-emphasis table tbody tr td {
  width: 25%;
  font-size: 0.875rem;
  color: #000000;
}
.card-home-emphasis table tbody tr td .figure-list {
  width: 100%;
  max-width: 114px;
}
.card-home-emphasis table tbody tr td .figure-list img {
  width: 100%;
  height: auto;
}
.card-home-emphasis table tbody tr td.align-end {
  text-align: end;
}

.content-language {
  display: flex;
  gap: 10px;
  border-bottom: 1px solid rgb(222, 221, 221);
  padding-bottom: 5px;
  margin-bottom: 55px;
}
.content-language > button {
  width: 37px;
  height: 28px;
  border: none;
  background: none;
  opacity: 0.3;
}
.content-language > button.isActive {
  opacity: 1;
}

.content-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1.875rem 1.375rem;
}
.content-wrapper .external-link {
  display: flex;
  flex-direction: column;
}
.content-wrapper .external-link > span {
  font-family: "HDI Pro Book";
  font-size: 0.75rem;
  color: black;
  margin-bottom: 20px;
}
.content-wrapper .external-link .external-link__checkbox {
  display: flex;
  gap: 8px;
  align-items: center;
}
.content-wrapper .w25 {
  width: calc(25% - 22px);
}

.content-footer {
  margin-top: 2.625rem;
  text-align: end;
}/*# sourceMappingURL=style.css.map */