// BLACK
$black: #414042;

// WHITE

$white: #ffffff;

// GREY

$grey-700: #949494;
$grey-600: #a7a9ac;
$grey-500: #d1d3d4;
$grey-300: #f7f7f7;
$grey-200: #d1d1d1;

// GREEN

$green-900: #006729;
$green-800: #00a04c;
$green-700: #2bb673;
$green-600: #8fd8b5;

// RED
$red: #e2001a;
