// BLACK
$black: #000000;

// WHITE

$white: #ffffff;

// GREY

$gray-700: #706f6f;
$gray-600: #9d9d9c;
$gray-500: #c6c6c6;

// GREEN

$green-900: #006b2d;
$green-800: #6eab28;

// RED
$red: #e30613;
