@font-face {
  font-family: "HDI Pro Bold";
  src: url("../assets/fonts/HDIPro-Bold.ttf");
}

@font-face {
  font-family: "HDI Pro Book";
  src: url("../assets/fonts/HDIPro-Book.ttf");
}

@font-face {
  font-family: "HDI Pro BookIt";
  src: url("../assets/fonts/HDIPro-BookIt.ttf");
}

@font-face {
  font-family: "HDI Pro MdIt";
  src: url("../assets/fonts/HDIPro-MdIt.ttf");
}

@font-face {
  font-family: "HDI Pro Medium";
  src: url("../assets/fonts/HDIPro-Medium.ttf");
}

@font-face {
  font-family: "HDI ProCND Black";
  src: url("../assets/fonts/HDIProCnd-Black.ttf");
}
 
@font-face {
  font-family: "HDI ProCND Bold";
  src: url("../assets/fonts/HDIProCnd-Bold.ttf");
}

@font-face {
  font-family: "HDI ProCND Book";
  src: url("../assets/fonts/HDIProCnd-Book.ttf");
}
@font-face {
  font-family: "HDI ProCND Medium";
  src: url("../assets/fonts/HDIProCnd-Medium.ttf");
}
