.container {
  position: relative;
  width: 100%;
  max-width: 1750px;
  padding: 0px 20px;
  margin: 0 auto;
}

.col {
  &.w25 {
    width: 25%;
  }

  &.w30 {
    width: 30%;
  }

  &.w50 {
    width: 50%;
  }
  &.w75 {
    width: 75%;
  }
  &.w100 {
    width: 100%;
  }
}

.pd-20 {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}
