.container {
  position: relative;
  width: 100%;
  max-width: 1750px;
  padding: 0px 20px;
  margin: 0 auto;
}

.col {
  &.w25 {
    width: calc(25% - 22px);
  }

  &.w30 {
    width: calc(30% - 22px);
  }

  &.w50 {
    width: calc(50% - 22px);
  }
  &.w75 {
    width: calc(75% - 22px);
  }
  &.w100 {
    width: calc(100% - 22px);
  }
}

.pd-20 {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}
